.img-grass{
  width: 1366px;
}

.hr-ruler{
  background: #209E2E;
  border: 3px solid #209E2E;
  opacity: 1;
}

.nav-1{
  text-decoration: none;
  font-family: Quicksand;
  font-size: 20px;
  color: black;
}


.navimg1{
  width: 37px;
  margin-left: 20px;
  margin-top: 20px;
}

.footertxt{
  color: #209E2E;
  font-family: Quicksand;
  font-size: 20px
}
