<footer class="mt-5">
  <img src="https://i.ibb.co/JkffQSd/grass.jpg" alt="grass" class="img-grass">
  <section>
    <div class="text-center mt-5">
      <img src="https://i.ibb.co/bjttHtK/footer-logo-1.png" alt="footer-logo-1" border="0">
      <div class="container mt-2">
        <hr class="hr-ruler">
      </div>
      <div class="mt-3 d-flex flex-row justify-content-center">
        <a href="" class="me-3 ms-3 nav-1">Home</a>
        <a href="" class="me-3 ms-3 nav-1">Fertilizers</a>
        <a href="" class="me-3 ms-3 nav-1">Crops</a>
      </div>
      <div class="mt-3 d-flex flex-row justify-content-center">
        <a href="" class="me-3 ms-3 nav-2">
          <img src="https://i.ibb.co/jwyRxVB/facebook-brands-1.png" alt="facebook-brands-1" class="navimg1">
        </a>
        <a href="" class="me-3 ms-3 nav-2">
          <img src="https://i.ibb.co/rGsNnST/twitter-brands-1.png" alt="twitter-brands-1" class="navimg1">
        </a>
        <a href="" class="me-3 ms-3 nav-2">
          <img src="https://i.ibb.co/7tSf4v6/linkedin-brands.png" alt="linkedin-brands" class="navimg1">
        </a>
        <a href="" class="me-3 ms-3 nav-2">
          <img src="https://i.ibb.co/jk1mb2Y/instagram-brands-1.png" alt="instagram-brands-1" class="navimg1">
        </a>
      </div>
    </div>
    <div class="text-center mt-5 mb-4">
      <h6><span style="color: #209E2E">ecotree</span> 2022 All Rights Reserved</h6>
    </div>
  </section>
</footer>
