<div class="d-flex flex-row">
  <div class="txt-section">
  <h6 class="txt-1">Expert Team</h6>
  <h2 class="txt-2">Team Behind eco-tree</h2>
  </div>
  <img src="https://i.ibb.co/VCTqhQQ/icons8-leaves-100.png" alt="icons8-leaves-100" class="imgexpert">
  <p class="txt-3">
    Our team is dedicated to Agri expert Bot Services &<br>
    meticulously caring for them with unmatched services.
  </p>

</div>
<div class="container mt-4">
  <div class="row">
    <div class="col colsp1">
      <div class="user-img-01"></div>
      <div class="user-wrapper-01 d-flex flex-column p-3 text-center">
        <h6 class="user-name-01">Jhon Doe</h6>
        <h6 class="user-id-01">Agri Expert</h6>
      </div>
      <p class="user-desc-01 text-center mt-5 me-5">Perfectly simple and easy to
        our power of choice is
        untrammelled when nothing
        prevents power.</p>
      <button class="btn vbutton text-center">View</button>
    </div>
    <div class="col colsp2">
      <div class="user-img-02"></div>
      <div class="user-wrapper-01 d-flex flex-column p-3 text-center">
        <h6 class="user-name-01">Jhon Doe</h6>
        <h6 class="user-id-01">Agri Expert</h6>
      </div>
      <p class="user-desc-01 text-center mt-5 me-5">Perfectly simple and easy to
        our power of choice is
        untrammelled when nothing
        prevents power.</p>
      <button class="btn vbutton text-center">View</button>
    </div>
    <div class="col colsp3">
      <div class="user-img-03"></div>
      <div class="user-wrapper-01 d-flex flex-column p-3 text-center">
        <h6 class="user-name-01">Jhon Doe</h6>
        <h6 class="user-id-01">Agri Expert</h6>
      </div>
      <p class="user-desc-01 text-center mt-5 me-5">Perfectly simple and easy to
        our power of choice is
        untrammelled when nothing
        prevents power.</p>
      <button class="btn vbutton text-center">View</button>
    </div>
  </div>
</div>
