<section >
  <img src="https://i.ibb.co/zZQ9zYP/plants-for-all-seasons-fertilizing-trees-shrubs-granulated-fertilizer-tree-trunk.jpg" alt="plants-for-all-seasons-fertilizing-trees-shrubs-granulated-fertilizer-tree-trunk" class="img-bg">
  <div class="imgcover"></div>
  <div class="text-center start_wrapper">
    <h4 class="title-txt1">Modified & Acuurated</h4>
    <h1 class="title-txt2">Predict Fertilizers</h1>
    <h6 class="title-txt3">We provide Agri Expert services to a wide range of<br>
      residential properties for over 24 years.
    </h6>
    <button class="btn2 btn-lg" type="submit" (click)="openDialog2()">Predict Fertilizer</button>
  </div>
</section>
