<section class="img-wraper p-5 mt-5">
  <h6 class="text-center ti-text-01">Clients Testimonials</h6>
  <h1 class="text-center ti-text-02">What People’s Say.</h1>
  <img src="https://i.ibb.co/nLVvjSf/testimonial4.png" alt="testimonial4" class="clinet-img-01">
  <img src="https://i.ibb.co/qFrnQRr/testimonial3.png" alt="testimonial3" class="clinet-img-02">
  <div class="text-center mt-5">
  <img src="https://i.ibb.co/4F78FY6/quote.png" alt="quote" class="q-image">
  </div>
  <p class="text-center testi-para mt-5">
    Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium,totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
    voluptas sit aspernatur aut odit aut fugit sed quiaconsequuntur
  </p>
  <h6 class="text-center testi-para mt-5" >Michel Zekolin Doe</h6>
  <h6 class="text-center testi-para">- Farmer -</h6>
  <img src="https://i.ibb.co/nLVvjSf/testimonial4.png" alt="testimonial4" class="clinet-img-03">
  <img src="https://i.ibb.co/qFrnQRr/testimonial3.png" alt="testimonial3" class="clinet-img-04">
</section>
