.img-wraper{
  background-image:linear-gradient(rgba(39, 39, 42, 0.5), rgba(39, 39, 42, 0.5)), url("https://i.ibb.co/j3frGy5/testimonial-bg2.jpg") ;
  position: relative;
}

.ti-text-01{
  font-family: "Gilroy ExtraBold";
  color: white;
  font-size: 37px;
}

.ti-text-02{
  font-family: "Gilroy ExtraBold";
  color: white;
  font-size: 70px;
}

.testi-para{
  font-family: Quicksand;
  font-size: 26px;
  color: white;
}

.clinet-img-01{
  position: absolute;
  margin-left: 998px;
  margin-top: -44px;
}

.clinet-img-02{
  position: absolute;
  margin-left: 126px;
  margin-top: -44px;
}

.clinet-img-03{
  position: relative;
  margin-left: 998px;
  margin-top: 22px;
}

.clinet-img-04{
  position: relative;
  margin-left: 126px;
  margin-top: -155px;
}
