.head1{
  color: #209E2E;
  font-family: "Gilroy ExtraBold";
}

.submitbtn1{
  background: #209E2E;
  font-family: Quicksand;
  color: white;
  border-radius: 20px;
  font-size: 17px;
}

mat-form-field{
  width: 272px;
}

