.client-img-wrapper{
  background-image: url("https://i.ibb.co/sqYb46D/fast-bg.jpg");
}

.ico-img-1{
  width: 64px;
}

.count-1{
  font-size: 47px;
  font-family: "Gilroy ExtraBold";
  color: #fff;
  position: relative;
  top: 7px;
  left: 8px;
}

.sub-text-1{
  font-size: 19px;
  font-family: "quicksand";
  color: #fff;
  position: relative;
  top: 4px;
}

.sub-text-3{
  font-size: 19px;
  font-family: "quicksand";
  color: #fff;
  position: relative;
  top: 4px;
}
