<section class="mt-5">
  <div class="client-img-wrapper">
    <div class="row ms-5 p-4">
    <div class="col d-flex flex-column">
      <div class="d-flex flex-row">
        <img src="https://i.ibb.co/qF4PbQs/icons8-leaf-100.png" alt="icons8-leaf-100" class="ico-img-1">
        <h1 class="count-1">325 +</h1>
      </div>
      <div>
        <h6 class="sub-text-1">Completed Projects</h6>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="d-flex flex-row">
                <img src="https://i.ibb.co/xLFqy1w/icons8-farmer-100-1.png" alt="icons8-farmer-100-1" class="ico-img-1">
        <h1 class="count-1">325 +</h1>
      </div>
      <div>
        <h6 class="sub-text-3">Expert Farmers</h6>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="d-flex flex-row">
                <img src="https://i.ibb.co/0VGH6hy/icons8-tractor-100-1.png" alt="icons8-tractor-100-1" class="ico-img-1">
        <h1 class="count-1">325 +</h1>
      </div>
      <div>
        <h6 class="sub-text-1">Satisfied Customers</h6>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="d-flex flex-row">
                <img src="https://i.ibb.co/fkRshnX/icons8-award-100-1.png" alt="icons8-award-100-1" class="ico-img-1">
        <h1 class="count-1">325 +</h1>
      </div>
      <div>
        <h6 class="sub-text-1">Awards And Honor</h6>
      </div>
    </div>
  </div>
  </div>
</section>
