<section >
  <img src="https://i.ibb.co/5j7JZ7q/healthy-vegetables-wooden-table.jpg" alt="healthy-vegetables-wooden-table" class="img-bg">
  <div class="imgcover"></div>
  <div class="text-center start_wrapper">
    <h4 class="title-txt1">Modified & Acuurated</h4>
    <h1 class="title-txt2">Predict Crops</h1>
    <h6 class="title-txt3">We provide Agri Expert services to a wide range of<br>
      residential properties for over 24 years.
    </h6>
    <button class="btn2 btn-lg" type="submit" (click)="openDialog()">Predict Crops</button>
  </div>
</section>
