.about-img1{
  width: 64%;
  margin-left: 160px;
}
.about-img2{
  position: absolute;
  left: -71px;
  margin-top: 59px;
}

.colm-2{
  margin-top: 84px;
}

.txt-1{
  font-family: Quicksand;
  font-size: 29px;
}

.txt-2{
  font-family: Quicksand;
  font-size: 43px;
  color: #209E2E;
}

.txt-3{
  font-family: Quicksand;
  font-size: 19px;
  color: #808EA5;
}
.ico-1{
  font-size: 91px;
  color: #209E2E;
}

.ico-2{
  font-size: 91px;
  color: #209E2E;
  margin-left: 46px;
}

.cl1{
  margin-top: 25px;
  margin-left: -55px;
  width: 216px;
}

.cl2{
  margin-top: 25px;
  margin-left: -65px;
  width: 216px;
}
