<section class="row">
  <div class="col p-3">
    <img src="https://i.ibb.co/hYLXHWp/hm-2-about.png" alt="hm-2-about" class="about-img1">
    <img src="https://i.ibb.co/vH6mFCQ/hm-2-about-2.png" alt="hm-2-about-2" class="about-img2">
  </div>
  <div class="col p-3 colm-2">
    <h6 class="txt-1">About Our Company</h6>
    <h2 class="txt-2">All Over the world Agri Expert<br>
      Bot Services</h2>
    <p class="txt-3">Our employees are the backbone of our company. eco-tree has an<br>
      ongoing employee training program that includes a regular schedule<br>
      of seminars and information updates on turf afety procedures.<br>
      <br>
      great explorer of the truth, the master-builder of human happiness.<br>
      No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
    <div class="d-flex flex-row">
      <div class="row">
      <fa-icon [icon]="faBuildingShield" class="col ico-1"></fa-icon>
        <div class="col cl1">
          <h6>Our Head Office</h6>
          <h6>Colombo, Sri Lanka</h6>
        </div>
      </div>
      <div class="row">
        <fa-icon [icon]="faUserTie" class="col ico-2"></fa-icon>
        <div class="col cl2">
          <h6>CEO Of eco-tree</h6>
          <h6>Mr. Jhon Doe</h6>
        </div>
      </div>
    </div>
  </div>
</section>
