.head-01{
  color: #209E2E;
  font-family: Quicksand;
}
.sec-01{
  background: #EFEFEF;
  position: relative;
}

.img-bg2{
  width: 1366px;
  height: 624px;
}

.img-farmer{
  position: absolute;
  top: 22%;
  width: 14%;
  left: 45%;
}

.box-01{
  position: absolute;
  border-radius: 15px;
  background: white;
  top: 16%;
  left: 10%;
  width: 397px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.box-02{
  position: absolute;
  border-radius: 15px;
  background: white;
  top: 16%;
  left: 63%;
  width: 397px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.box-03{
  position: absolute;
  border-radius: 15px;
  background: white;
  top: 76%;
  left: 10%;
  width: 397px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.box-04{
  position: absolute;
  border-radius: 15px;
  background: white;
  top: 76%;
  left: 63%;
  width: 397px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.round1{
  border-radius: 100%;
  background: white;
  /* position: relative; */
  width: 110px;
  height: 110px;
  margin-left: 287px;
  margin-top: -48px;
}

.round2{
  border-radius: 100%;
  background: white;
  /* position: relative; */
  width: 110px;
  height: 110px;
  margin-left: 287px;
  margin-top: -48px;
}

.round3{
  border-radius: 100%;
  background: white;
  /* position: relative; */
  width: 110px;
  height: 110px;
  margin-left: 287px;
  margin-top: -48px;
}

.round4{
  border-radius: 100%;
  background: white;
  /* position: relative; */
  width: 110px;
  height: 110px;
  margin-left: 287px;
  margin-top: -48px;
}

.box-head-01{
  font-family: Quicksand;
  font-size: 24px;
  margin-left: 183px;
}

.box-txt-01{
  font-family: Quicksand;
  font-size: 20px;
  margin-left: 155px;
  color: #808EA5;
  padding-bottom: 8px;
}
.box-head-02{
  font-family: Quicksand;
  font-size: 24px;
  margin-left: 221px;
}

.box-txt-02{
  font-family: Quicksand;
  font-size: 20px;
  margin-left: 184px;
  color: #808EA5;
  padding-bottom: 8px;
}

.box-head-03{
  font-family: Quicksand;
  font-size: 24px;
  margin-left: 201px;
}

.box-txt-03{
  font-family: Quicksand;
  font-size: 20px;
  margin-left: 84px;
  color: #808EA5;
  padding-bottom: 8px;
}

.box-head-04{
  font-family: Quicksand;
  font-size: 24px;
  margin-left: 156px;
}

.box-txt-04{
  font-family: Quicksand;
  font-size: 20px;
  margin-left: 56px;
  color: #808EA5;
  padding-bottom: 8px;
}
