<h1 class="text-center head-01 mt-5">Services We Provide</h1>
<section class="sec-01">
  <img src="https://i.ibb.co/82yzC4W/blog-bg.png" alt="blog-bg" class="img-bg2">
  <img src="https://i.ibb.co/jywsWvn/farmfood-1.png" alt="farmfood-1" class="img-farmer">
  <div class="box-01">
    <div class="round1">
      <img src="https://i.ibb.co/3kV2dzx/icons8-seed-100.png " alt="icons8-tree-planting-100" class="ms-1">
    </div>
    <h6 class="box-head-01">Predict Fertilizers</h6>
    <h6 class="box-txt-01">Fertilizer Recommender</h6>
  </div>
  <div class="box-02">
    <div class="round2">
      <img src="https://i.ibb.co/pQsMrfb/icons8-tree-planting-100.png" alt="icons8-farmer-100" class="ms-1">
    </div>
    <h6 class="box-head-02">Predict Crops</h6>
    <h6 class="box-txt-02">Crop Recommender</h6>
  </div>
  <div class="box-03">
    <div class="round3">
      <img src="https://i.ibb.co/4pTHsW0/icons8-sky-100.png" alt="icons8-seed-100" class="ms-1 mt-1">
    </div>
    <h6 class="box-head-03">Predict Climate</h6>
    <h6 class="box-txt-03">Predict on using realtime Data</h6>
  </div>
  <div class="box-04">
    <div class="round4">
      <img src="https://i.ibb.co/W39DC1D/icons8-farmer-100.png " alt="icons8-sky-100" class="ms-1 mt-1">
    </div>
    <h6 class="box-head-04">Agri Expert Advices</h6>
    <h6 class="box-txt-04">You can get Advices from Experts</h6>
  </div>
</section>
